.chat {
    display: flex;
    flex-direction: column;
    flex: 0.65;
    padding: 20px 20px;
    padding-top: 0;
}

.chat__header {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-width: 0 0 2px 0;
    border-style: solid;
    border-image: linear-gradient(to left, #421659, #b87b02, #421659) 1;
    padding: 20px;
}

.chat__headerInfo {
    flex: 1;
    padding-left: 20px;
}

.chat__headerInfo > h3 {
    font-weight: 900;
}

.chat__headerInfo > p {
    color: darkgray;
}

.chat__body {
    margin-top: 20px;
    flex: 1;
    padding-right: 20px;
    padding-bottom: 10px;
    overflow-y: auto;
    overflow-x: hidden;
}

.chat__footer {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 62px;
    border-width: 2px 0 0 0;
    border-style: solid;
    border-image: linear-gradient(to right, #421659, #b87b02, #421659) 1;
}

.chat__footerForm {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 29px;
    width: 100%;
}

.chat__footerForm > input {
    width: 100%;
    border: none;
    outline-width: 0;
    margin-left: 10px;
    height: 80%;
    border-radius: 7px;
    padding: 5px;
}

.chat__message {
    position: relative;
    font-size: 16px;
    padding: 10px;
    width: max-content;
    border-radius: 25px;
    background-image: linear-gradient(45deg, #b87b02, #421659);
    overflow-wrap: anywhere;
    max-width: 55%;
    animation: fadein 0.3s;
}

.messageWrapper {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.userMessageWrapper {
    align-items: flex-end;
    margin-left: auto;
}

.userMessageWrapper > .chat__name, .chat__timestamp {
    margin-right: 5px;
}

.chat__userMessage {
    justify-self: flex-end;
    background-image: linear-gradient(45deg, #421659, #b87b02);
}

.chat__timestamp {
    margin-left: 5px;
    width: max-content;
    font-size: xx-small;
}

.chat__name {
    margin-left: 5px;
    font-weight: 800;
    font-size: small;
    width: max-content;
}

.chat__footerFormButton {
    transform: scale(1.7) rotate(180deg);
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}